body {
  text-align: center;
  font-family: Cambria, sans-serif;
}

button {
  font-size: 0.8em;
  background-color: lightgreen;
  margin: 1em;
  padding: 1em;
  border-radius: 50px 50px;
  cursor: pointer;
}

button:active {
  background-color: lightblue;
  box-shadow: inset 1px 1px 1px black;
  text-shadow: 2px 2px 5px gray;
}
