body {
	text-align: center;
}

form label {
	display: block;
	margin: 0 auto;
}

#name {
	margin: .5em;
	font-size: 1em;
	text-align: center;
	height: 40px;
}

form button {
	padding: 1em;
	display: block;
	margin: 0 auto;
	border-radius: 10px 10px;
}